<div class="top-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6 hidden-xs top-wraper-left no-padding">
        <ul>
          <li> <a href="mailto:support@yourdomain.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>support@yourdomain.com</a></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>+1-0123-456-789</li>
        </ul>
      </div>
      <div class="col-md-7 col-sm-6 hidden-xs no-padding">
        <ul class="pull-right">
          <li>
            <ul class="header-social-icons">
              <li class="facebook"><a href="javascript:void(0)" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li class="twitter"><a href="javascript:void(0)" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li class="linkedin"><a href="javascript:void(0)" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li class="pinterest"><a href="javascript:void(0)" target="_blank"><i class="fa fa-pinterest"></i></a></li>
              <li class="google-plus"><a href="javascript:void(0)" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              <li class="youtube"><a href="javascript:void(0)" target="_blank"><i class="fa fa-youtube"></i></a></li>
              <li class="dribbble"><a href="javascript:void(0)" target="_blank"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
