<div class="inner-page-wrapper">
  <div class="container">
    <div class="row">

      <!-- Inner page Wrapper Start -->
      <div class="inner-page-wrapper form-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6 space">

                  <div *ngIf="flightDetails">
                    <div>
                      <app-flight-details [flight]="flightDetails" ></app-flight-details>
                    </div>
                  </div>
                  <app-flights-list (flightSelected)="onSelected($event)"></app-flights-list>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Inner page Wrapper End -->
    </div>
  </div>
</div>
