<div class="banner-wrapper">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <h1 class="animated1">Flights journal</h1>
          <h3 class="animated2">Your flights diary</h3>
          <button class="btn btn-hero animated3">Login</button>
        </div>
      </div>

      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">
          <h1 class="animated1">Flights journal</h1>
          <h3 class="animated2">Multipurpose Responsive Template</h3>
          <!--<button class="btn btn-hero animated3"></button>-->
        </div>
      </div>


      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">
          <h1 class="animated1">Flights journal</h1>
          <h3 class="animated2"></h3>
          <!--<button class="btn btn-hero animated3">Buy Now</button>-->
        </div>
      </div>


    </div>
    <a class="left carousel-control" href="#bs-carousel" data-slide="prev"><span class="transition3s glyphicon glyphicon-chevron-left fa fa-angle-left"></span></a> <a class="right carousel-control" href="#bs-carousel" data-slide="next"><span class="transition3s glyphicon glyphicon-chevron-right fa fa-angle-right"></span></a> </div>
</div>
