
<h3>Edit account details</h3>
<hr>
<div *ngIf="errorMessage">
  <span class="text-danger"> <strong>Error occured</strong>
    <p>{{errorMessage}}</p>
  </span>
</div>

<form [formGroup]="editForm" method="post" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="form-group">
    <input formControlName="firstName" type="text" id="firstName" class="form-control" placeholder="FirstName">
  </div>

  <div class="form-group">
    <input formControlName="lastName" type="text" id="lastName" class="form-control" placeholder="Last Name">
  </div>

  <div class="form-group">
    <input formControlName="age" type="text" id="age" class="form-control" placeholder="Age">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

</form>
