/*------------------------------------
    Red color style sheet
	
	just replace "1abc9c" with your custom color
------------------------------------*/
a:hover {
	color: #1abc9c;
}
.title-border {
	background-color: #1abc9c;
	border: 1px solid #1abc9c; 
}
#scrollUp {
	background: #1abc9c;
}
.top-wraper-left ul li i {
	color: #1abc9c;
}
.affix .mainmenu-area ul.nav.navbar-nav li a:hover, .affix .mainmenu-area ul.nav.navbar-nav li.active a {
	color: #1abc9c;
}
.mainmenu-area ul.nav.navbar-nav li ul li a:hover {
	color: #1abc9c;
}
.mainmenu-area ul.nav.navbar-nav li ul li:after {
	background: #1abc9c;
}
.fade-carousel .carousel-indicators > li.active {
	background: #1abc9c;
}
.fade-carousel .carousel-control span:hover {
	border: 1px solid #1abc9c;
	background: #1abc9c;
}
.banner-wrapper .btn-hero { 
	background: #1abc9c;
}
.feature-wrapper .icon:hover i.fa { 
	color: #1abc9c;
}
.callouts-wrapper h2 span {
	color: #1abc9c;
}
.callouts-wrapper .callouts h3::after {
	background-color: #1abc9c;
}
.satisfied-wrapper::before {
	background: #1abc9c;
}
.testimonials-wrapper { 
	background: #1abc9c;
}
.testimonials-wrapper h3 {
	color: #1abc9c;
}
.testimonials-wrapper .carousel-indicators .active {
	background: #1abc9c;
}
.pricing-wrapper-main .title h2::after {
	background-color: #1abc9c;
}
.pricing-wrapper-main h2 span {
	color: #1abc9c;
	font-weight: 600;
}
.pricing-wrapper-main .pricing-table.featured {
	border: 3px solid #1abc9c;
}
.pricing-wrapper-main .pricing-table.featured .pricing-table-cta a:hover {
	background: #fff;
	color: #1abc9c;
}
.inner-page-banner .breadcrumb > a:hover {
	color: #1abc9c;
}
.table-custom.table-green tr th {
	background: #1abc9c;
	color: #fff;
}
div.classic-vertical-tab-panel .nav > li.active, div.classic-vertical-tab-panel .nav > li > a:hover {
	border-right: 1px solid #1abc9c;
}
.form-wrapper .txt2[type="submit"] {
	background: #1abc9c;
}
.btn-shapes .btn-primary {
	background: #1abc9c;
}
.oops .btn-home {
	background:#1abc9c;
	border: 1px solid #1abc9c;	
}
.blog-text h3 a:hover {
	color: #1abc9c;
}
.blogdetails-wrapper .single-post h2 {
	color: #1abc9c;
}
.blogdetails-wrapper .single-post .sidebar h2::after {
	background-color: #1abc9c;
}
.blogdetails-wrapper .single-post h3 {
	color: #1abc9c;
}	
.blogdetails-wrapper .sidebar .tags li:hover {
	background: #1abc9c;
}
.blogdetails-wrapper .btn:before { 
	background: #1abc9c;
}
.blog-details-comment-info h6 { 
	color: #1abc9c;
}
.blog-details-comments-div .blog-details-comment-info p a {
	color: #1abc9c;
}
.blog-details-share .social-icons li:hover a {
	color: #1abc9c;
}
.footer-wrapper h3:after {
	background: #1abc9c;
}
.footer-wrapper .text-box-right h4 a:hover, .footer-wrapper .text-box-right h4 a:focus {
	color: #1abc9c;
}
.footer-wrapper .footer-tags li a:hover, .footer-wrapper  .footer-tags li a.active {
	border: 1px solid #1abc9c;
	color: #1abc9c;
}
.team-member-position p {
	color: #1abc9c;
}
.team .team-members .team-member .team-member-info .social a:hover i {
	background: #1abc9c;
}
.social-wrapper h2 span {
	color: #1abc9c;
}
.team-wrapper h2 span {
	color: #1abc9c;
}
.contact-wrapper .btn {
	background:#1abc9c;
	}
.inner-wrapper-main h2 span {
	color:#1abc9c;
	}
.inner-wrapper-main h2:before {
	background:#1abc9c;
}	
.inner-page-banner .breadcrumb .current {
	color:#1abc9c;
}
.blo-image-date > a {
	background: #1abc9c;
	}
.blo-image-date > a:hover {
	color:#fff;
}	
.blog-text > a { 
background: #1abc9c;
}
.contact-wrapper .contact-box i {
  background:#1abc9c;
  }
 .contact-wrapper h3:before {
  background: #1abc9c;
} 
.contact-details .divider {
	background:#1abc9c;
}
.classic-tab-panel .tabbable-line > .nav-tabs > li.active {
	border-bottom: 1px solid #1abc9c;
}
.conetent-wrapper h2 span {
	color: #1abc9c;
}