<h3>Airports</h3>
<hr>
<app-airport-search></app-airport-search>

<div *ngIf="airports && airports.length==0">
  <span>Not found</span>
</div>

<div *ngIf="airports && airports.length>0">
  <table class="table table-bordered table-stripped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let airport of airports">
        <td><a (click)="onSearchClick(airport)">{{airport.name}}</a></td>
        <td><a  [routerLink]="['/airport', airport.name]">{{airport.name}}</a></td>
      </tr>
    </tbody>
  </table>

  <button class="btn txt2" (click)="onClearClick()">Clear</button>
</div>


