<h3>Airports</h3>
<hr>
<form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()" method="post">
  <div class="input-group col-md-12">
    <input formControlName="name" type="text" class="form-control input-lg" placeholder="Search" required/>
    <span class="input-group-btn">
      <button class="btn btn-info btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </span>
  </div>
</form>

<div *ngIf="airports && airports.length==0">
  <span>Not found</span>
</div>

<div *ngIf="airports && airports.length>0">
  <table class="table table-bordered table-stripped">
    <thead>
    <tr>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let airport of airports">
      <td><a [routerLink]="['/airport', airport.name]">{{airport.name}}</a></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" [disabled]="pageNumber <= 0" (click)="onPreviousClick()">Previous</button>
  <button class="btn btn-primary" (click)="onNextClick()">Next</button>

  <button class="btn btn-default" (click)="onClearClick()">Clear</button>
</div>


