<div class="inner-page-wrapper">
  <div class="container">
    <div class="row">
      <!--<div class="col-md-6 col-sm-12">-->
        <!--<div class="text-box white padding-3"> <img src="https://placeholdit.imgix.net/~text?txtsize=60&bg=333&txtclr=fff&txt=800%C3%97670&w=800&h=670" alt="" class="img-responsive"> </div>-->
      <!--</div>-->
      <div class="col-md-12 col-sm-12">
        <div class="text-box white padding-4 about-content">
          <div class="col-sm-12 nopadding">
            <h3>About Our Company</h3>
            <p class="sub-title">lorem ipsum dolor sit amet</p>
          </div>
          <h5>consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in.</p>
          <p class="last">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in Etiam sit amet dolor. Vestibulum ante ipsum primis inEtiam sit amet dolor. Vestibulum ante ipsum primis in.</p>
        </div></div>
    </div>
  </div>
</div>
