<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="fo-one">
          <div class="footer-logo"><img src="images/footer-logo-yellow.png" class="footer-logo-change" alt=""></div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
          <address>
            <strong>Address:</strong> <br>
            No.16 - 12345 street lorem ipsum, <br>
            ipsum City, Country
          </address>
          <span><strong>Phone:</strong> +1-0123-456-789</span> <span><strong>Email:</strong> <a href="mailto:support@yourdomain.com">support@yourdomain.com</a></span> <span><strong>Fax:</strong> +1-0123-456-789</span> </div>
      </div>

    </div>
  </div>
</div>
 <!--Footer styles End-->
<!-- Copyrights Wrapper Start-->
<div class="copyright-wrapper">
  <div class="container">
    <div class="row">
      <div class="fo-copyright-holder text-center">
        <div class="social-iconbox">
          <ul class="sc-icons">
            <li><a class="twitter" href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
            <li><a class="active" href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
          </ul> </div>
        &copy; Copyright
        <script type="text/javascript">
          var d=new Date();
          document.write(d.getFullYear());
        </script>,
        Royal | All Rights Reserved.

      </div>
    </div>
  </div>
</div>
