<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="callouts">
      <div class="callouts-box text-center">
        <div class="icon-box"><i class="fa fa-tablet circle"></i></div>
        <h3>Web Design</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="callouts">
      <div class="callouts-box text-center">
        <div class="icon-box"><i class="fa fa-camera circle" aria-hidden="true"></i></div>
        <h3>Photography</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="callouts">
      <div class="callouts-box text-center">
        <div class="icon-box"><i class="fa fa-android circle" aria-hidden="true"></i></div>
        <h3>App Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="callouts">
      <div class="callouts-box text-center">
        <div class="icon-box"><i class="fa fa-globe circle" aria-hidden="true"></i></div>
        <h3>Online Marketing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="callouts">
      <div class="callouts-box text-center">
        <div class="icon-box"><i class="fa fa-search circle" aria-hidden="true"></i></div>
        <h3>SEO Marketing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="callouts">
      <div class="callouts-box text-center">
        <div class="icon-box"><i class="fa fa-envelope-o circle" aria-hidden="true"></i></div>
        <h3>Email Marketing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
      </div>
    </div>
  </div>
</div>
