<div class="inner-page-wrapper">
  <div class="container">
    <div class="row">
<!-- Inner page Banner Start -->
      <div class="inner-page-banner">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h1 class="title">Contact Us 2</h1>
              <div class="breadcrumb"> <a href="index.html">Home</a> <span>/</span> <span>Contact Us</span> <span class="delimeter">/</span> <span class="current">Contact Us 2</span> </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Inner page Banner End -->
      <!-- Inner page Wrapper Start -->
      <div class="inner-page-wrapper">
        <div class="container">
          <div class="row">
            <div class="inner-wrapper-main contact-wrapper2">
              <div class="col-sm-8 col-sm-offset-2 col-xs-offset-0 table-responsive text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever.</p>

              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="contact-details text-center">
                    <div class="col-md-3 col-sm-6"> <div class="box-variant-1"><i class="fa fa-map-marker" aria-hidden="true"></i>
                      <h3>Address</h3>
                      <hr class="divider">
                      <p>1980 Fulton Street San Diego, <span>CA 94117-1080 USA</span></p></div>
                    </div>
                    <div class="col-md-3 col-sm-6"> <div class="box-variant-1"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                      <h3>Email</h3>
                      <hr class="divider">
                      <p><a href="mailto:support@yourdomain.com">support@yourdomain.com</a></p></div>
                    </div>
                    <div class="col-md-3 col-sm-6"><div class="box-variant-1"> <i class="fa fa-phone" aria-hidden="true"></i>
                      <h3>Contact Number</h3>
                      <hr class="divider">
                      <p>0800 123 46 0000</p></div>
                    </div>
                    <div class="col-md-3 col-sm-6"><div class="box-variant-1"> <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                      <h3>Customer Care</h3>
                      <hr class="divider">
                      <p>0800 123 46 7890</p></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-8 col-sm-offset-2 col-xs-offset-0 table-responsive text-center contact2">
                <h2>Get in <span>Touch</span></h2>
                <form>
                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <div class="form-group">
                        <label>First Name</label>
                        <input name="name" required class="form-control form-item" type="text">
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input name="name" required class="form-control form-item" type="text">
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                      <div class="form-group">
                        <label>Phone Number</label>
                        <input name="phone" required class="form-control form-item" type="text">
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                      <div class="form-group">
                        <label>Email Address</label>
                        <input name="email" required class="form-control form-item" type="text">
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Message</label>
                        <textarea placeholder="Message" name="Message" rows="3" class="form-control form-item"></textarea>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <button class="btn btn-1" type="submit">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- Inner page Wrapper End -->
    </div>
  </div>
</div>
